# Data Preparations

In [398]:
import numpy as np
import pandas as pd

## Prepare Salary Data

In [399]:
orig_salary = pd.read_csv("zpl_2023.csv", index_col="Год")
orig_salary

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
Год,,,,,,,,,,,,,,,,,,,,,
По всей экономике,2223,3240,4360,5499,6740,8555,10634,13593,17290,18638,...,32495,34030,36709,39167,43724,47867,51344,57244,65338,73709
Обрабатывающие производства,2365,3447,4439,5603,6849,8421,10199,12879,16050,16583,...,29511,31910,34592,38502,40722,43855,46510,52410,60439,71273
Финансовая и страховая деятельность,5232,8885,13246,15561,17384,22464,27886,34880,41872,42373,...,68565,70088,80289,84904,91070,103668,112680,130223,146637,169106
Образование,1240,1833,2927,3387,4203,5430,6983,8778,11317,13294,...,25862,26928,28088,30258,34361,37072,39563,43391,48400,54263
Здравоохранение и социальные услуги,1333,1960,3141,3663,4612,5906,8060,10037,13049,14820,...,27068,28179,29742,31980,40027,43122,49532,50690,55420,61486
Строительство,2640,3859,4807,6177,7305,9043,10869,14333,18574,18122,...,29354,29960,32332,33678,38518,42630,44738,51944,60850,68944
Добыча полезных ископаемых,5940,9099,11081,13912,16842,19727,23145,28108,33206,35363,...,58959,63695,69936,74474,83178,89344,95359,103474,118376,130826
Общепит и гостиничное дело,1640,2404,3039,3967,4737,6033,7522,9339,11536,12470,...,19759,20626,22041,23971,26241,28191,27411,33225,37572,43192

In [400]:
# sort values
orig_salary = orig_salary.sort_values("2023")
orig_salary

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
Год,,,,,,,,,,,,,,,,,,,,,
Общепит и гостиничное дело,1640,2404,3039,3967,4737,6033,7522,9339,11536,12470,...,19759,20626,22041,23971,26241,28191,27411,33225,37572,43192
Образование,1240,1833,2927,3387,4203,5430,6983,8778,11317,13294,...,25862,26928,28088,30258,34361,37072,39563,43391,48400,54263
Здравоохранение и социальные услуги,1333,1960,3141,3663,4612,5906,8060,10037,13049,14820,...,27068,28179,29742,31980,40027,43122,49532,50690,55420,61486
Строительство,2640,3859,4807,6177,7305,9043,10869,14333,18574,18122,...,29354,29960,32332,33678,38518,42630,44738,51944,60850,68944
Обрабатывающие производства,2365,3447,4439,5603,6849,8421,10199,12879,16050,16583,...,29511,31910,34592,38502,40722,43855,46510,52410,60439,71273
По всей экономике,2223,3240,4360,5499,6740,8555,10634,13593,17290,18638,...,32495,34030,36709,39167,43724,47867,51344,57244,65338,73709
Добыча полезных ископаемых,5940,9099,11081,13912,16842,19727,23145,28108,33206,35363,...,58959,63695,69936,74474,83178,89344,95359,103474,118376,130826
Финансовая и страховая деятельность,5232,8885,13246,15561,17384,22464,27886,34880,41872,42373,...,68565,70088,80289,84904,91070,103668,112680,130223,146637,169106

In [401]:
DOMAIN_NAMES = [
    "restaurants_and_hotels",
    "education", 
    "healthcare_and_socials",
    "construction_industry",
    "processing_industry",
    "overall",  
    "mining",
    "finances_and_insurances",    
]

In [402]:
# transponse df
orig_salary = orig_salary.T

# rename colums
orig_salary.columns.name = None
if orig_salary.columns.shape[0] == len(DOMAIN_NAMES):
    orig_salary.columns = DOMAIN_NAMES
else:
    raise IndexError

In [403]:
# get years to the column
orig_salary.index.name = "year"
orig_salary = orig_salary.reset_index(drop=False)

orig_salary.tail(5)

,year,restaurants_and_hotels,education,healthcare_and_socials,construction_industry,processing_industry,overall,mining,finances_and_insurances
19,2019,28191,37072,43122,42630,43855,47867,89344,103668
20,2020,27411,39563,49532,44738,46510,51344,95359,112680
21,2021,33225,43391,50690,51944,52410,57244,103474,130223
22,2022,37572,48400,55420,60850,60439,65338,118376,146637
23,2023,43192,54263,61486,68944,71273,73709,130826,169106

## Prepare inflation data

$$Real Income = (1 - Inflation Rate) * Wages$$

In [404]:
inf_data = pd.read_csv("inflation_in_years.csv", sep=";")

# filter data
inf_data = inf_data[2000 <= inf_data.year]
inf_data = inf_data[inf_data.year <= 2023]

# reverce (for convinient)
inf_data = inf_data[::-1]
inf_data = inf_data.reset_index().iloc[:, 1:]

In [405]:
inflation_coeffs = 1 - inf_data["inflation"] / 100
inflation_coeffs[3:8]

3    0.8801
4    0.8826
5    0.8909
6    0.9100
7    0.8813
Name: inflation, dtype: float64

In [406]:
accum = 1
acuum_coeffs = [1, ]
for i in range(1, inf_data.shape[0]):
    accum = accum * inflation_coeffs[i-1]
    acuum_coeffs.append(accum)

34234

In [407]:
inf_data["bring_to_2000"] = acuum_coeffs
# inf_data["bring_to_2000"] = 1 / inf_data["bring_to_2000"]
inf_data

    year  inflation  bring_to_2000
0   2000      20.20       1.000000
1   2001      18.58       0.798000
2   2002      15.06       0.649732
3   2003      11.99       0.551882
4   2004      11.74       0.485711
5   2005      10.91       0.428689
6   2006       9.00       0.381919
7   2007      11.87       0.347546
8   2008      13.28       0.306292
9   2009       8.80       0.265617
10  2010       8.78       0.242243
11  2011       6.10       0.220974
12  2012       6.58       0.207494
13  2013       6.45       0.193841
14  2014      11.36       0.181338
15  2015      12.91       0.160738
16  2016       5.38       0.139987
17  2017       2.52       0.132456
18  2018       4.27       0.129118
19  2019       3.05       0.123605
20  2020       4.91       0.119835
21  2021       8.39       0.113951
22  2022      11.92       0.104390
23  2023       7.42       0.091947

## Cacl salary with inflation

In [408]:
salary_data = orig_salary.copy()

In [409]:
salary_cols = DOMAIN_NAMES
print(f"Cols that affected: \n{salary_cols}")

Cols that affected:
['restaurants_and_hotels', 'education', 'healthcare_and_socials', 'construction_industry', 'processing_industry', 'overall', 'mining', 'finances_and_insurances']

In [410]:
for salary_col in salary_cols:

    # calc salary with inflation
    new_name = salary_col + "_inf"
    salary_data[new_name] = salary_data[salary_col] * inf_data["bring_to_2000"]
    salary_data[new_name] = np.round(salary_data[new_name])
    salary_data[new_name] = salary_data[new_name].astype("int64")

    # bringing to "how it feels in 2023"
    correcting_coeff =  salary_data[salary_col].iloc[-1] / salary_data[salary_col + "_inf"].iloc[-1]

    new_name = new_name + "_adj"
    salary_data[new_name] = salary_data[salary_col + "_inf"] * correcting_coeff
    salary_data[new_name] = np.round(salary_data[new_name])
    salary_data[new_name] = salary_data[new_name].astype("int64")

In [411]:
salary_data

,year,restaurants_and_hotels,education,healthcare_and_socials,construction_industry,processing_industry,overall,mining,finances_and_insurances,restaurants_and_hotels_inf,...,construction_industry_inf,construction_industry_inf_adj,processing_industry_inf,processing_industry_inf_adj,overall_inf,overall_inf_adj,mining_inf,mining_inf_adj,finances_and_insurances_inf,finances_and_insurances_inf_adj
0,2000,1640,1240,1333,2640,2365,2223,5940,5232,1640,...,2640,28713,2365,25723,2223,24178,5940,64603,5232,56902
1,2001,2404,1833,1960,3859,3447,3240,9099,8885,1918,...,3079,33488,2751,29921,2586,28126,7261,78970,7090,77109
2,2002,3039,2927,3141,4807,4439,4360,11081,13246,1975,...,3123,33966,2884,31368,2833,30813,7200,78306,8606,93596
3,2003,3967,3387,3663,6177,5603,5499,13912,15561,2189,...,3409,37077,3092,33630,3035,33010,7678,83505,8588,93400
4,2004,4737,4203,4612,7305,6849,6740,16842,17384,2301,...,3548,38589,3327,36186,3274,35609,8180,88965,8444,91834
5,2005,6033,5430,5906,9043,8421,8555,19727,22464,2586,...,3877,42167,3610,39264,3667,39884,8457,91977,9630,104733
6,2006,7522,6983,8060,10869,10199,10634,23145,27886,2873,...,4151,45147,3895,42364,4061,44169,8840,96143,10650,115826
7,2007,9339,8778,10037,14333,12879,13593,28108,34880,3246,...,4981,54174,4476,48683,4724,51380,9769,106247,12122,131835
8,2008,11536,11317,13049,18574,16050,17290,33206,41872,3533,...,5689,61874,4916,53468,5296,57601,10171,110619,12825,139481
9,2009,12470,13294,14820,18122,16583,18638,35363,42373,3312,...,4814,52358,4405,47911,4951,53849,9393,102157,11255,122406
10,2010,13466,14075,15724,21172,19078,20952,39895,50120,3262,...,5129,55784,4622,50271,5075,55197,9664,105105,12141,132042
11,2011,14693,15809,17545,23682,21781,23369,45132,55789,3247,...,5233,56915,4813,52348,5164,56165,9973,108465,12328,134075
12,2012,16631,18995,20641,25951,24512,26629,50401,58999,3451,...,5385,58568,5086,55317,5525,60092,10458,113740,12242,133140
13,2013,18304,23458,24439,27701,27045,29792,54161,63333,3548,...,5370,58405,5242,57014,5775,62811,10499,114186,12277,133521
14,2014,19759,25862,27068,29354,29511,32495,58959,68565,3583,...,5323,57894,5351,58200,5893,64094,10692,116285,12433,135217
15,2015,20626,26928,28179,29960,31910,34030,63695,70088,3315,...,4816,52380,5129,55785,5470,59494,10238,111347,11266,122525
16,2016,22041,28088,29742,32332,34592,36709,69936,80289,3085,...,4526,49226,4842,52663,5139,55894,9790,106475,11239,122232
17,2017,23971,30258,31980,33678,38502,39167,74474,84904,3175,...,4461,48519,5100,55470,5188,56426,9865,107291,11246,122308
18,2018,26241,34361,40027,38518,40722,43724,83178,91070,3388,...,4973,54087,5258,57188,5646,61408,10740,116807,11759,127887
19,2019,28191,37072,43122,42630,43855,47867,89344,103668,3485,...,5269,57307,5421,58961,5917,64355,11043,120102,12814,139361
20,2020,27411,39563,49532,44738,46510,51344,95359,112680,3285,...,5361,58307,5574,60625,6153,66922,11427,124279,13503,146854
21,2021,33225,43391,50690,51944,52410,57244,103474,130223,3786,...,5919,64376,5972,64954,6523,70946,11791,128238,14839,161384
22,2022,37572,48400,55420,60850,60439,65338,118376,146637,3922,...,6352,69085,6309,68619,6821,74188,12357,134393,15307,166474
23,2023,43192,54263,61486,68944,71273,73709,130826,169106,3971,...,6339,68944,6553,71273,6777,73709,12029,130826,15549,169106

Графики по инфляции получились похожие на правду, можно надеяться, что инфляция посчитана правильно.

## Add dollar USA
Source: [Динамика официального курса ЦБ](https://cbr.ru/currency_base/dynamics/?UniDbQuery.Posted=True)

In [412]:
dollar_full = pd.read_csv("dollar_full.csv", decimal=",")

dollar_full["data"] = pd.to_datetime(dollar_full["data"], format="%d.%m.%Y")
dollar_full["year_of_measure"] = dollar_full["data"].dt.year

dollar_full.head()

        data     curs         cdx  year_of_measure
0 2023-12-30  89.6883  Доллар США             2023
1 2023-12-29  90.3041  Доллар США             2023
2 2023-12-28  91.7051  Доллар США             2023
3 2023-12-27  91.7069  Доллар США             2023
4 2023-12-26  91.9690  Доллар США             2023

In [413]:
dollar_full.dtypes

data               datetime64[ns]
curs                      float64
cdx                        object
year_of_measure             int32
dtype: object

Т.к. измерения курса проводились почти каждый день, можно не заморачиваться и просто посчитать медиану по годам

In [414]:
dollar_years = dollar_full.groupby("year_of_measure").agg({"data":"count", "curs":"median"})
dollar_years.columns = ["cnt_measures", "median_currency_rate"]

dollar_years.index.name = "year"
dollar_years = dollar_years.reset_index(drop=False)

dollar_years

    year  cnt_measures  median_currency_rate
0   2000           251              28.03000
1   2001           249              29.17000
2   2002           250              31.48635
3   2003           250              30.54035
4   2004           251              28.96710
5   2005           248              28.42670
6   2006           248              26.93105
7   2007           249              25.72400
8   2008           249              24.42620
9   2009           249              31.37330
10  2010           249              30.47690
11  2011           249              28.95470
12  2012           249              31.14080
13  2013           246              32.15605
14  2014           247              35.96350
15  2015           247              62.66320
16  2016           248              65.00970
17  2017           247              58.31510
18  2018           247              63.13580
19  2019           246              64.52715
20  2020           243              73.58490
21  2021           248              73.59800
22  2022           247              61.70320
23  2023           247              88.61020

In [415]:
print(f"Cols that affected: \n{salary_cols}")

for salary_col in salary_cols:
    new_name = salary_col + "_in_dollars"
    salary_data[new_name] = salary_data[salary_col] / dollar_years["median_currency_rate"]
    salary_data[new_name] = np.round(salary_data[new_name])
    salary_data[new_name] = salary_data[new_name].astype("int64")

Cols that affected:
['restaurants_and_hotels', 'education', 'healthcare_and_socials', 'construction_industry', 'processing_industry', 'overall', 'mining', 'finances_and_insurances']

In [416]:
salary_data.iloc[:, 15:]

,construction_industry_inf,construction_industry_inf_adj,processing_industry_inf,processing_industry_inf_adj,overall_inf,overall_inf_adj,mining_inf,mining_inf_adj,finances_and_insurances_inf,finances_and_insurances_inf_adj,restaurants_and_hotels_in_dollars,education_in_dollars,healthcare_and_socials_in_dollars,construction_industry_in_dollars,processing_industry_in_dollars,overall_in_dollars,mining_in_dollars,finances_and_insurances_in_dollars
0,2640,28713,2365,25723,2223,24178,5940,64603,5232,56902,59,44,48,94,84,79,212,187
1,3079,33488,2751,29921,2586,28126,7261,78970,7090,77109,82,63,67,132,118,111,312,305
2,3123,33966,2884,31368,2833,30813,7200,78306,8606,93596,97,93,100,153,141,138,352,421
3,3409,37077,3092,33630,3035,33010,7678,83505,8588,93400,130,111,120,202,183,180,456,510
4,3548,38589,3327,36186,3274,35609,8180,88965,8444,91834,164,145,159,252,236,233,581,600
5,3877,42167,3610,39264,3667,39884,8457,91977,9630,104733,212,191,208,318,296,301,694,790
6,4151,45147,3895,42364,4061,44169,8840,96143,10650,115826,279,259,299,404,379,395,859,1035
7,4981,54174,4476,48683,4724,51380,9769,106247,12122,131835,363,341,390,557,501,528,1093,1356
8,5689,61874,4916,53468,5296,57601,10171,110619,12825,139481,472,463,534,760,657,708,1359,1714
9,4814,52358,4405,47911,4951,53849,9393,102157,11255,122406,397,424,472,578,529,594,1127,1351
10,5129,55784,4622,50271,5075,55197,9664,105105,12141,132042,442,462,516,695,626,687,1309,1645
11,5233,56915,4813,52348,5164,56165,9973,108465,12328,134075,507,546,606,818,752,807,1559,1927
12,5385,58568,5086,55317,5525,60092,10458,113740,12242,133140,534,610,663,833,787,855,1618,1895
13,5370,58405,5242,57014,5775,62811,10499,114186,12277,133521,569,730,760,861,841,926,1684,1970
14,5323,57894,5351,58200,5893,64094,10692,116285,12433,135217,549,719,753,816,821,904,1639,1907
15,4816,52380,5129,55785,5470,59494,10238,111347,11266,122525,329,430,450,478,509,543,1016,1118
16,4526,49226,4842,52663,5139,55894,9790,106475,11239,122232,339,432,458,497,532,565,1076,1235
17,4461,48519,5100,55470,5188,56426,9865,107291,11246,122308,411,519,548,578,660,672,1277,1456
18,4973,54087,5258,57188,5646,61408,10740,116807,11759,127887,416,544,634,610,645,693,1317,1442
19,5269,57307,5421,58961,5917,64355,11043,120102,12814,139361,437,575,668,661,680,742,1385,1607
20,5361,58307,5574,60625,6153,66922,11427,124279,13503,146854,373,538,673,608,632,698,1296,1531
21,5919,64376,5972,64954,6523,70946,11791,128238,14839,161384,451,590,689,706,712,778,1406,1769
22,6352,69085,6309,68619,6821,74188,12357,134393,15307,166474,609,784,898,986,980,1059,1918,2376
23,6339,68944,6553,71273,6777,73709,12029,130826,15549,169106,487,612,694,778,804,832,1476,1908

## Saving prepared data
Мне показалось, что мёрджить неудобно, т.к. в salary_data уже много колонок

In [419]:
salary_data.to_csv('salary_data.csv', index=False)

dollar_full.to_csv('dollar_days.csv', index=False)
dollar_years.to_csv('dollar_years.csv', index=False)